@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }

  50% {
    visibility: visible;
    opacity: 0.5;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }

  50% {
    visibility: hidden;

    opacity: 0.5;
  }

  to {
    visibility: hidden;

    opacity: 0;
  }
}
