@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  50% {
    visibility: visible;
    opacity: 0.5;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  50% {
    visibility: hidden;
    opacity: 0.5;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

.body-sty.noscroll {
  overflow: hidden;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-sa {
  justify-content: space-around;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-center {
  align-items: center;
}

.mb {
  margin-bottom: 50px;
}

button {
  padding: 10px 20px;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border: 0;
  border-radius: 25px;
  color: white;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
  font-size: 14px;
}
button:hover {
  opacity: 0.8;
}

@media (min-width: 1024px) {
  .hide-on-desktop {
    display: none;
  }
}

@media (max-width: 1023px) {
  .hide-on-mobile {
    display: none;
  }
}

.subtext {
  font-weight: 200;
  color: hsl(233, 8%, 62%);
  font-size: large;
  line-height: 1.5;
}

.nav {
  padding: 20px;
  position: relative;
  background-color: hsl(0, 0%, 100%);
}
@media (min-width: 1024px) {
  .nav {
    padding: 20px 130px;
    z-index: 1;
  }
}
.nav img {
  width: 141px;
  height: 22px;
}

.menu-options a {
  color: hsl(233, 8%, 62%);
  cursor: pointer;
  position: relative;
  transition: color 300ms ease-in-out;
}
.menu-options a::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  left: 0;
  right: 0;
  bottom: -30px;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.menu-options a:hover {
  color: hsl(233, 26%, 24%);
}
.menu-options a:hover::before {
  opacity: 1;
}
.menu-options a:not(:last-child) {
  margin-right: 30px;
}

.hamburger span {
  width: 25px;
  height: 2px;
  display: block;
  background-color: hsl(233, 26%, 24%);
  transition: all 300ms ease-in-out;
  transform-origin: 2.5px 1px;
}
.hamburger span:not(:last-child) {
  margin-bottom: 5px;
}
.hamburger.open > span:first-child {
  transform: rotate(45deg);
}
.hamburger.open > span:nth-child(2) {
  opacity: 0;
}
.hamburger.open > span:last-child {
  transform: rotate(-45deg);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(hsl(233, 26%, 24%), transparent);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;
}
.overlay.open-overlay {
  animation: fade-in 300ms ease-in-out forwards;
}
.overlay.close-overlay {
  animation: fade-out 300ms ease-in-out forwards;
}

.mobile-menu {
  background-color: hsl(0, 0%, 100%);
  padding: 10px 0;
  position: absolute;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  width: calc(100vw - 60px);
  left: 50%;
  margin-top: 10px;
  transform: translateX(-50%);
  transition: all 300ms ease-in-out;
  cursor: pointer;
  border-radius: 3px;
}
.mobile-menu a {
  padding: 10px 0;
  display: block;
  color: hsl(233, 26%, 24%);
}
.mobile-menu.show-mobile-menu {
  animation: fade-in 300ms ease-in-out forwards;
}
.mobile-menu.hide-mobile-menu {
  animation: fade-out 300ms ease-in-out forwards;
}

@media (min-width: 1024px) {
  .body-sty {
    display: flex;
    align-items: center;
    padding: 0 0 0 130px;
  }
}

.hero-img {
  min-height: 310px;
  position: relative;
  width: 100%;
  background-image: url("./../../assets/images/bg-intro-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 640px) {
  .hero-img {
    min-height: 475px;
  }
}
@media (min-width: 1024px) {
  .hero-img {
    flex: 3;
    order: 2;
    background-image: url("./../../assets/images/bg-intro-desktop.svg");
    background-position: left top -150px;
    background-size: 140%;
  }
}
.hero-img::before {
  content: "";
  background-image: url("./../../assets/images/image-mockups.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 90%;
  position: absolute;
  width: 100%;
  height: 100%;
}
@media (min-width: 1024px) {
  .hero-img::before {
    background-repeat: no-repeat;
    background-size: 105%;
    width: 525px;
    height: 580px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-position-x: 50px;
  }
}

.hero-text {
  text-align: center;
  padding: 20px 20px 60px 20px;
}
@media (min-width: 1024px) {
  .hero-text {
    flex: 2;
    order: 1;
    text-align: left;
  }
}
.hero-text h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 25px;
  color: hsl(233, 26%, 24%);
}
.hero-text p {
  margin-bottom: 30px;
}

.features-section {
  background-color: hsl(220, 16%, 96%);
  padding: 50px 10px;
}
@media (min-width: 640px) {
  .features-section {
    padding: 50px 130px;
  }
}
.features-section .title {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 25px;
  color: hsl(233, 26%, 24%);
  text-align: center;
}
@media (min-width: 1024px) {
  .features-section .title {
    text-align: left;
  }
}
.features-section .subtitle {
  text-align: center;
  margin-bottom: 50px;
  padding: 0 20px;
}
@media (min-width: 1024px) {
  .features-section .subtitle {
    text-align: left;
    width: 70%;
    padding: 0;
  }
}
.features-section .feature-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
  flex: 1;
}
@media (min-width: 640px) {
  .features-section .feature-item {
    flex: 1 0 50%;
  }
}
@media (min-width: 1024px) {
  .features-section .feature-item {
    flex: 1;
  }
}
.features-section .features-main {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 640px) {
  .features-section .features-main {
    flex-wrap: wrap;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 0;
  }
}
.features-section .feature-heading {
  font-weight: 300;
  color: hsl(233, 26%, 24%);
  font-size: 20px;
  line-height: 1.5;
}
.features-section .feature-desc {
  font-weight: 200;
  color: hsl(233, 8%, 62%);
  font-size: 17px;
  line-height: 1.5;
}
@media (min-width: 1024px) {
  .features-section .feature-desc {
    font-size: 14px;
  }
}

.articles-section {
  background-color: hsl(0, 0%, 98%);
  padding: 50px 20px 70px;
}
@media (min-width: 1024px) {
  .articles-section {
    padding: 50px 130px 70px;
  }
}
.articles-section .title {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 25px;
  color: hsl(233, 26%, 24%);
  text-align: center;
}
@media (min-width: 1024px) {
  .articles-section .title {
    text-align: left;
  }
}
.articles-section .articles-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  row-gap: 28px;
  -moz-column-gap: 28px;
       column-gap: 28px;
  padding: 0 20px;
}
@media (min-width: 640px) {
  .articles-section .articles-div {
    padding: 0 20px;
  }
}
@media (min-width: 1024px) {
  .articles-section .articles-div {
    padding: 0;
  }
}
.articles-section .article-item {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}
.articles-section .article-item:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.articles-section .article-img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.articles-section .article-author {
  font-weight: 200;
  color: hsl(233, 8%, 62%);
  font-size: 12px;
  line-height: 1.5;
}
@media (min-width: 1024px) {
  .articles-section .article-author {
    font-size: 10px;
  }
}
.articles-section .text-section {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.articles-section .article-title {
  font-weight: 300;
  color: hsl(233, 26%, 24%);
  font-size: 16px;
}
.articles-section .article-title:hover {
  background: -webkit-linear-gradient(0deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .articles-section .article-title {
    font-size: 15px;
  }
}
.articles-section .article-desc {
  font-weight: 200;
  color: hsl(233, 8%, 62%);
  font-size: 14px;
  line-height: 1.5;
}
@media (min-width: 1024px) {
  .articles-section .article-desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
    font-size: 12px;
  }
}

.footer {
  background-color: hsl(233, 26%, 24%);
  color: hsl(0, 0%, 100%);
  padding: 40px 80px;
  text-align: center;
}
@media (min-width: 1024px) {
  .footer {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr) 3fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "logo links1 links2 invbutton" "socials links1 links2 invitetext ";
    justify-items: start;
    align-items: center;
  }
}
.footer a {
  color: hsl(0, 0%, 100%);
}
.footer .footer-logo {
  margin-bottom: 30px;
}
@media (min-width: 1024px) {
  .footer .footer-logo {
    grid-area: logo;
    margin: 0;
  }
}
.footer .social-handles {
  margin-bottom: 30px;
}
@media (min-width: 1024px) {
  .footer .social-handles {
    grid-area: socials;
    align-self: end;
    margin: 0;
  }
}
.footer .social-handles a {
  font-size: 20px;
}
.footer .social-handles a img {
  width: 30px;
}
@media (min-width: 1024px) {
  .footer .social-handles a img {
    width: 20px;
  }
}
.footer .social-handles a img:hover {
  color: red;
}
.footer .social-handles a:not(:last-child) {
  margin-right: 20px;
}
.footer .social-handles a:hover {
  color: hsl(136, 65%, 51%);
}
.footer .footer-links a {
  display: block;
  font-size: 18px;
  margin-bottom: 15px;
  text-decoration: none;
}
@media (min-width: 1024px) {
  .footer .footer-links a {
    font-size: 14px;
    text-align: left;
    font-weight: 200;
    line-height: 30px;
    margin: 0;
  }
}
.footer .footer-links a:hover {
  color: hsl(136, 65%, 51%);
}
@media (min-width: 1024px) {
  .footer .section1 {
    grid-area: links1;
  }
}
.footer .section2 {
  margin-bottom: 35px;
}
@media (min-width: 1024px) {
  .footer .section2 {
    grid-area: links2;
    margin: 0;
  }
}
.footer .invite-bnt button {
  font-size: 16px;
  justify-self: right;
}
@media (min-width: 1024px) {
  .footer .invite-bnt button {
    grid-area: invbutton;
    justify-self: right;
  }
}
.footer .invite-details {
  margin-top: 15px;
}
@media (min-width: 1024px) {
  .footer .invite-details {
    grid-area: invitetext;
    margin: 0;
    text-align: right;
    justify-self: right;
    justify-self: self-end;
    font-size: 12px;
    align-self: end;
    line-height: 25px;
  }
}
.footer .invite-details p {
  color: hsl(233, 8%, 62%);
}/*# sourceMappingURL=styles.css.map */